.tile-wrapper {
  position: relative;
  color: #fff;
}

.tile-content {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.tile-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

